<div class="row text-center">
	<div class="col-12 mb-3">
		<Spinner Type="SpinnerType.Border" />
	</div>
	<div class="col">
		<strong role="status">@Text</strong>
	</div>
</div>

@code {
	[Parameter]
	public string Text { get; set; } = string.Empty;
}
