<div class="row text-center">
	<div class="col-12">
		<Spinner Type="SpinnerType.Border" />
	</div>
	@if (!string.IsNullOrEmpty(Text))
	{
		<div class="col mt-2">
			<strong role="status">@Text</strong>
		</div>
	}
</div>

@code {
	[Parameter]
	public string Text { get; set; } = string.Empty;
}
