@page "/students/add"

<PageTitle>Add Student</PageTitle>

<h1 class="d-inline-block">Add student</h1>

@if (_isSubmitting)
{
	<Loading Text="@SubmitString"/>
}
else
{
	<FormStudent Student="_student" CanDelete="@(false)" IsReadonly="@(false)" OnSubmit="OnSubmit"/>
	<ConfirmDialog @ref="_dialog"/>
}

@code {
	private Student       _student = new();
	private ConfirmDialog _dialog  = default!;
	private string        SubmitString => $"Creating {_student.FullName}";
	private bool          _isSubmitting;

	protected override async Task OnInitializedAsync()
	{
		ApiRequests.EnsureAuthentication(NavManager);
		await LocalDbService.FetchClassesAsync();
	}

	private async Task<bool> OnSubmit(Student studentUpdated)
	{
		var parameters = new Dictionary<string, object>();
		parameters.Add("Student", studentUpdated);

		var confirmation = await _dialog.ShowAsync<SummaryStudent>($"Add {studentUpdated.FullName}?", parameters, DialogOptions.Confirm());
		if (!confirmation) return false;
		_isSubmitting = true;

		await StudentService.AddStudentAsync(studentUpdated);

		_isSubmitting = false;
		return false;
	}

}
