@page "/teachers/add"

<PageTitle>Add Teacher</PageTitle>

<h1>Add Teacher</h1>

@if (isSubmitting)
{
	<Loading Text="@submitString" />
}
else
{
	<FormTeacher Teacher="teacher" CanDelete="false" IsReadonly="false" OnSubmit="OnSubmit" />
	<ConfirmDialog @ref="dialog" />
}

@code {
	private Teacher teacher = new();
	private ConfirmDialog dialog = default!;

	private string modalTitle => $"Error";
	private string submitString => $"Creating {teacher.FullName}";
	private bool isSubmitting = false;

	protected override void OnInitialized()
	{
		ApiRequests.EnsureAuthentication(NavManager);
	}

	private async Task<bool> OnSubmit(Teacher teacherUpdated)
	{
		var parameters = new Dictionary<string, object>();
		parameters.Add("Teacher", teacherUpdated);

		var confirmation = await dialog.ShowAsync<SummaryTeacher>("Create this teacher?", parameters, DialogOptions.Confirm());
		if (!confirmation) return false;

		isSubmitting = true;

		try
		{
			var response = await ApiRequests.AddTeacherAsync(teacherUpdated);

			if (response.IsSuccess())
			{
				NotificationService.NotifySuccess($"{teacherUpdated.FullName} ({teacherUpdated.Id}) was added!");
				teacher = new();
				return true;
			}

			if (response.Errors.Any())
			{
				NotificationService.NotifyError(response.GetError());
			}
		}
		catch (Exception e)
		{
			NotificationService.HandleError(e);
		}

		isSubmitting = false;
		return false;
	}
}
