@page "/teachers/add"

<PageTitle>Add Teacher</PageTitle>

<h1>Add Teacher</h1>

@if (_isSubmitting)
{
	<Loading Text="@SubmitString"/>
}
else
{
	<FormTeacher Teacher="@_teacher" CanDelete="@(false)" IsReadonly="@(false)" OnSubmit="OnSubmit"/>
	<ConfirmDialog @ref="_dialog"/>
}

@code {
	private Teacher       _teacher = new();
	private ConfirmDialog _dialog  = default!;

	private string SubmitString => $"Creating {_teacher.FullName}";
	private bool   _isSubmitting;

	protected override async Task OnInitializedAsync()
	{
		ApiRequests.EnsureAuthentication(NavManager);
		await LocalDbService.FetchClassesAsync();
	}

	private async Task<bool> OnSubmit(Teacher teacherUpdated)
	{
		var parameters = new Dictionary<string, object>();
		parameters.Add("Teacher", teacherUpdated);

		var confirmation = await _dialog.ShowAsync<SummaryTeacher>("Create this teacher?", parameters, DialogOptions.Confirm());
		if (!confirmation) return false;

		_isSubmitting = true;
		await TeacherService.AddTeacherAsync(teacherUpdated);
		_isSubmitting = false;
		return false;
	}

}
