@page "/students/{id}"
@inject IJSRuntime JsRuntime

<PageTitle>@_student.FullName</PageTitle>

@if (_isLoading)
{
	<Loading Text="Loading student"/>
}
else
{
	<h3>@_student.FullName</h3>
	<div class="d-flex flex-row gap-2">
		<BadgeStudent/>
		<BadgeClass Class="@_student.Class"/>
		@if (_student.IsInactive)
		{
			<BadgeInactive/>
		}
		else
		{
			<BadgeActive/>
		}
	</div>

	<FormStudent Student="_student" OnSubmit="OnSubmit" IsReadonly="true" CanDelete="!_student.IsInactive" OnDelete="OnDelete"/>
	<ConfirmDialog @ref="_dialog"/>
}

@code {
	[Parameter] public string Id { get; set; } = null!;

	private Student       _student   = new();
	private ConfirmDialog _dialog    = default!;
	private bool          _isLoading = true;

	protected override async Task OnInitializedAsync()
	{
		ApiRequests.EnsureAuthentication(NavManager);
		long.TryParse(Id, out long id);

		var searchedStudent = await StudentService.FetchStudentAsync(id.ToString());
		if (searchedStudent is null) return;
		_student = searchedStudent;

		await LocalDbService.FetchClassesAsync();
		_isLoading = false;
	}

	private async Task<bool> OnSubmit(Student editedStudent)
	{
		if (_student.Equals(editedStudent))
		{
			ToastService.Notify(ToastMessages.Secondary($"No changes was found!"));
			return false;
		}

		var parameters = new Dictionary<string, object>
		{
			{ "StudentOriginal", _student },
			{ "StudentEdited", editedStudent }
		};

		var confirmation = await _dialog.ShowAsync<SummaryStudentEdit>("Edit this student?", parameters, DialogOptions.Edit(DialogSize.ExtraLarge));
		if (!confirmation) return false;

		_isLoading = true;
		await StudentService.UpdateStudentAsync(editedStudent);
		await StudentService.FetchStudentAsync(editedStudent.Id.ToString());
		_isLoading = false;

		await JsRuntime.InvokeVoidAsync("history.back");
		return false;
	}

	private async Task<bool> OnDelete(Student editedStudent)
	{
		var parameters = new Dictionary<string, object> { { "Student", editedStudent } };

		var confirmation = await _dialog.ShowAsync<SummaryStudent>("Deactivate this student?", parameters, DialogOptions.Confirm());
		if (!confirmation) return false;

		_isLoading = true;
		await LocalDbService.DeactivateUserAsync(editedStudent);
		await StudentService.FetchStudentAsync(editedStudent.Id.ToString());
		_isLoading = false;

		await JsRuntime.InvokeVoidAsync("history.back");
		return false;
	}

}
