@page "/students/{id}"

<PageTitle>@student.FullName</PageTitle>

@if (student is null)
{
	<Loading />
}
else
{
	<h3>[@student.Class] @student.FullName</h3>
	<BaseEditFormStudent TheStudent="student" OnSubmit="HandleEditedStudent" IsReadonly="true" CanDelete="true" />
}

@code {
	[Parameter]
	public string Id { get; set; } = null!;

	private Student student = StudentFactory.CreateEmptyStudent().Build();

	protected override void OnInitialized()
	{
		ApiRequests.EnsureAuthentication(NavManager);

		long.TryParse(Id, out long id);
		var searchedStudent = Lists.GetStudents().FirstOrDefault(x => x.Id.Equals(id));

		if (searchedStudent is null) return;
		student = searchedStudent;
	}

	private async Task HandleEditedStudent(Student editedStudent)
	{
		if (student.Equals(editedStudent)) return;

		try
		{
			var response = await ApiRequests.UpdateStudentAsync(student.Id, editedStudent);
			if (response is null)
			{
				await ModalService.ShowAsync(ModalOptions.NoConnection("No response from the api."));
				return;
			}

			if (response.IsSuccess())
			{
				await ModalService.ShowAsync(ModalOptions.Success("Successful edit", $"({student.Id}) was successfully edited"));
				NavManager.NavigateTo("/students");
			}

			if (response.Errors.Any())
			{
				await ModalService.ShowAsync(ModalOptions.Error(response.GetError()));
			}
		}
		catch (Exception e)
		{
			await ModalService.ShowAsync(ModalOptions.Error(e.Message));
		}
	}
}
