@page "/teachers/{id}"

<PageTitle>@teacher.FullName</PageTitle>

@if (isLoading)
{
	<Loading Text="Loading teacher" />
}
else
{
	@if (teacher.Class != "-")
	{
		<h3>[@teacher.Class] @teacher.FullName</h3>
	}
	else
	{
		<h3>@teacher.FullName</h3>
	}
	<FormTeacher Teacher="teacher" OnSubmit="OnSubmit" IsReadonly="isLoading" CanDelete="true" OnDelete="OnDelete" />
	<ConfirmDialog @ref="dialog" />
}

@code {
	[Parameter]
	public string Id { get; set; } = null!;

	private Teacher teacher = new();
	private ConfirmDialog dialog = default!;
	private bool isLoading = true;

	protected override async Task OnInitializedAsync()
	{
		ApiRequests.EnsureAuthentication(NavManager);

		await LocalDbService.FetchClasses();

		var searchedTeacher = LocalDbService.Teachers.FirstOrDefault(x => x.Id.Equals(Id));
		if (searchedTeacher is null) return;
		teacher = searchedTeacher;
		isLoading = false;
	}

	private async Task<bool> OnSubmit(Teacher editedTeacher)
	{
		if (teacher.Equals(editedTeacher))
		{
			ToastService.Notify(ToastMessages.Secondary($"No changes was found!"));
			return false;
		}

		var parameters = new Dictionary<string, object>();
		parameters.Add("TeacherOriginal", teacher);
		parameters.Add("TeacherEdited", editedTeacher);

		var confirmation = await dialog.ShowAsync<SummaryTeacherEdit>("Edit teacher?", parameters, DialogOptions.Edit(DialogSize.ExtraLarge));
		if (!confirmation) return false;

		isLoading = true;

		try
		{

			var response = await ApiRequests.UpdateTeacherAsync(teacher.Id, editedTeacher);
			if (response.IsSuccess())
			{
				ToastService.Notify(ToastMessages.Success($"{teacher.FullName} was edited!"));
				NavManager.NavigateTo("/teachers");
				return true;
			}

			if (response.Errors.Any())
			{
				ToastService.Notify(ToastMessages.Error(response.GetError()));
			}
		}
		catch (HttpRequestException httpError)
		{
			string errorMessage = Utils.GetErrorMessage(httpError);
			ToastService.Notify(ToastMessages.Error(errorMessage));
		}
		catch (Exception e)
		{
			ToastService.Notify(ToastMessages.Error(e.Message));
		}
		isLoading = false;
		return false;
	}

	private async Task<bool> OnDelete(Teacher editedTeacher)
	{
		var parameters = new Dictionary<string, object>();
		parameters.Add("Teacher", editedTeacher);

		var confirmation = await dialog.ShowAsync<SummaryTeacher>("Delete this teacher?", parameters, DialogOptions.Delete());
		if (!confirmation) return false;

		isLoading = true;

		try
		{

			var response = await ApiRequests.DeleteTeacherAsync(editedTeacher.Id);
			if (response.IsSuccess())
			{
				ToastService.Notify(ToastMessages.Success($"Teacher deleted successfully"));
				NavManager.NavigateTo("/teachers");
				return true;
			}

			if (response.Errors.Any())
			{
				ToastService.Notify(ToastMessages.Error(response.GetError()));
			}
		}
		catch (HttpRequestException httpError)
		{
			string errorMessage = Utils.GetErrorMessage(httpError);
			ToastService.Notify(ToastMessages.Error(errorMessage));
		}
		catch (Exception e)
		{
			ToastService.Notify(ToastMessages.Error(e.Message));
		}
		isLoading = false;
		return false;
	}
}
