<div class="row mb-2 border-bottom">
	<div class="col-3 col-sm-2">OM:</div>
	<div class="col">@Student.Id</div>
</div>
<div class="row mb-2 border-bottom">
	<div class="col-3 col-sm-2">Name:</div>
	<div class="col">@Student.FullName</div>
</div>
<div class="row mb-2 border-bottom">
	<div class="col-3 col-sm-2">Class:</div>
	<div class="col">@Student.Class</div>
</div>

@code {
	[Parameter]
	public Student Student { get; set; } = default!;
}
