@page "/db/import-export"

<PageTitle>Database Import/Export</PageTitle>

<Modal @ref="_modal" IsScrollable="true">
	<BodyTemplate>
		<CustomList List="_errors"/>
	</BodyTemplate>
	<FooterTemplate>
	</FooterTemplate>
</Modal>

<h3>Database Import/Export</h3>

<div class="alert alert-info mt-1 mb-3" role="alert">
	When importing a dump file in <strong>append</strong> mode, it is recommended to export the database beforehand so it can be easily restored if needed.
</div>

<div class="d-flex flex-column gap-2 my-2">
	<FormImportDb ShowModal="ShowModal"/>
	<FormExportDb ShowModal="ShowModal"/>
</div>

@code {

	private Modal               _modal  = default!;
	private IEnumerable<string> _errors = Array.Empty<string>();

	private async Task ShowModal(ModalType modalType, string title, IEnumerable<string> errors) {
		_modal.ModalType = modalType;
		_modal.Title = title;
		_errors = errors;
		await _modal.ShowAsync();
	}

	private async Task HideModal() {
		await _modal.HideAsync();
	}

	protected override void OnInitialized() {
		ApiRequests.EnsureAuthentication(NavManager);
	}

}
