@page "/admins/{id}"

<PageTitle>Admin</PageTitle>
<h3>Admin</h3>

@code {
	[Parameter]
	public Admin? Administrator { get; set; }

	protected override void OnInitialized()
	{
		ApiRequests.EnsureAuthentication(NavManager);
	}
}
