@page "/admins/{id}"

<PageTitle>Admin</PageTitle>
<h3>Admin</h3>

@code {
	[Parameter]
	public string Id { get; set; } = null!;

	protected override void OnInitialized()
	{
		ApiRequests.EnsureAuthentication(NavManager);
	}
}
