
# Test Run
### Run Summary

<p>
<strong>Overall Result:</strong> ✔️ Pass <br />
<strong>Pass Rate:</strong> 100% <br />
<strong>Run Duration:</strong> 3s 737ms <br />
<strong>Date:</strong> 2024-04-30 11:06:04 - 2024-04-30 11:06:08 <br />
<strong>Framework:</strong> .NETCoreApp,Version=v8.0 <br />
<strong>Total Tests:</strong> 37 <br />
</p>

<table>
<thead>
<tr>
<th>✔️ Passed</th>
<th>❌ Failed</th>
<th>⚠️ Skipped</th>
</tr>
</thead>
<tbody>
<tr>
<td>37</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>100%</td>
<td>0%</td>
<td>0%</td>
</tr>
</tbody>
</table>

### Result Sets
#### NeuLdapMgnt.Api.Tests.dll - 100%
<details>
<summary>Full Results</summary>
<table>
<thead>
<tr>
<th>Result</th>
<th>Test</th>
<th>Duration</th>
</tr>
</thead>
<tr>
<td> ✔️ Passed </td>
<td>TestExportDatabase</td>
<td>161ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestImportDatabase</td>
<td>56ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestPasswordChecking</td>
<td>359ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryAddEntity</td>
<td>34ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryAddAndGetEntityHiddenAttribute</td>
<td>12ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryAddDuplicateEntity</td>
<td>10ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryAddAndGetEntity</td>
<td>31ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryAddAndGetEntities</td>
<td>21ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryAddAndGetEntitiesOverwrite</td>
<td>32ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryDeleteEntity</td>
<td>27ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryModifyEntity</td>
<td>15ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryModifyEntityNullableAttribute</td>
<td>12ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestGetDisplayNameOfEntity</td>
<td>22ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestGetPasswordOfEntity</td>
<td>468ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestSetAndGetMembersOfGroup</td>
<td>10ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestSetMembersOfGroupToEmpty</td>
<td>7ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryAddAndRemoveGroup</td>
<td>5ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryAddEntityToGroup</td>
<td>18ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryAddEntitiesToGroup</td>
<td>17ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryRemoveEntityFromGroup</td>
<td>16ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryRemoveEntitiesFromGroup</td>
<td>13ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTrySetValue</td>
<td>9ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTrySetValueEmptyValue</td>
<td>6ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTrySetAndGetValue</td>
<td>10ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryUnsetValue</td>
<td>10ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestTryGetAllValues</td>
<td>15ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestNoAuthorizationHeader</td>
<td>122ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestWrongAuthorizationHeader</td>
<td>47ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestWrongUsername</td>
<td>8ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestWrongDefaultAdminPassword</td>
<td>865ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestCorrectDefaultAdminCredentialsAndResultToken</td>
<td>325ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestWrongAdminPassword</td>
<td>131ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestCorrectAdminCredentialsAndResultToken</td>
<td>141ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestMissingToken</td>
<td>5ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestInvalidToken</td>
<td>2ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestExpiredToken</td>
<td>5ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestValidToken</td>
<td>3ms</td>
</tr>
</tbody>
</table>
</details>

### Run Messages
<details>
<summary>Informational</summary>
<pre><code>
</code></pre>
</details>

<details>
<summary>Warning</summary>
<pre><code>
</code></pre>
</details>

<details>
<summary>Error</summary>
<pre><code>
</code></pre>
</details>



----

[Created using Liquid Test Reports](https://github.com/kurtmkurtm/LiquidTestReports)