@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@inherits LayoutComponentBase

<div class="d-flex flex-column gap-2 my-2">
	<h3>Default Admin Settings</h3>

	<div class="d-flex align-items-center my-2">
		<div class="form-check form-switch ">
			<InputCheckbox @bind-Value="_adminEnabled" id="default-admin-enabled-switch" @oninput="args => EnableAdmin((bool)args.Value!)" class="form-check-input" style="width: 3em; height: 1.5em; margin-right:0.5em; margin-bottom: 0.05em"/>
		</div>
		<label for="default-admin-enabled-switch" class="form-check-label align-middle">Enable default admin</label>
	</div>

	<div class="alert alert-warning mb-4" role="alert">
		The default admin is only meant to be used for creating some initial admin accounts and should be disabled later.
	</div>

	<EditForm EditContext="_editContext" OnValidSubmit="Confirm" class="d-flex flex-column gap-2">
		<DataAnnotationsValidator/>
		
		<h6>Change the password of the Default Admin.</h6>

		<div class="form-floating">
			<InstantInputText @bind-Value="_adminPasswords.Password" type=@(_showPasswords ? "text" : "password") id="default-admin-password-input" class="form-control"/>
			<label for="default-admin-password-input">New Password</label>
			<ValidationMessage For="() => _adminPasswords.Password"/>
		</div>

		<div class="form-floating">
			<InstantInputText @bind-Value="_adminPasswords.ConfirmPassword" type=@(_showPasswords ? "text" : "password") id="default-admin-password-confirm-input" class="form-control"/>
			<label for="default-admin-password-confirm-input">Confirm New Password</label>
			<ValidationMessage For="() => _adminPasswords.ConfirmPassword"/>
		</div>

		<div class="form-check">
			<InputCheckbox @bind-Value="_showPasswords" class="form-check-input" id="show-password-checkbox"/>
			<label class="form-check-label" for="show-password-checkbox">Show passwords</label>
		</div>

		<div class="d-flex justify-content-start gap-2 mt-4">
			<ButtonSubmit Text="Change Password"/>
			<ButtonCancel Text="Cancel" OnClick="@Cancel"/>
		</div>
	</EditForm>
</div>

@code {

	private class AdminPasswords {
		[Required(ErrorMessage = "Password is required.")]
		[Password]
		[PasswordPropertyText]
		public string Password { get; set; } = string.Empty;

		[Compare("Password", ErrorMessage = "Passwords do not match.")]
		public string ConfirmPassword { get; set; } = string.Empty;
	}

	private bool _adminEnabled;

	private bool _showPasswords;

	private AdminPasswords _adminPasswords = new();

	private EditContext _editContext = new(0);

	private void ResetEditContext() => _editContext = new(_adminPasswords);

	private async Task EnableAdmin(bool enable) {
		RequestResult result = await ApiRequests.SendStringAsync(HttpMethod.Put, "/api/defaultadmin/enabled", enable.ToString());
		ToastService.Notify(result.IsSuccess()
			? ToastMessages.Success($"Successfully {(enable ? "en" : "dis")}abled the Default Admin.")
			: ToastMessages.Error(result.GetError())
		);
	}

	private async Task Confirm() {
		RequestResult result = await ApiRequests.SendStringAsync(HttpMethod.Put, "/api/defaultadmin/password", _adminPasswords.Password);
		ToastService.Notify(result.IsSuccess()
			? ToastMessages.Success("Successfully updated the Default Admin password.")
			: ToastMessages.Error(result.GetError())
		);
	}

	private void Cancel() {
		_adminPasswords.ConfirmPassword = _adminPasswords.Password = string.Empty;
		ResetEditContext();
	}

	protected override async Task OnInitializedAsync() {
		ResetEditContext();

		RequestResult<bool> result = await ApiRequests.SendRequestAsync<bool>(HttpMethod.Get, "/api/defaultadmin/enabled");
		if (result.IsSuccess())
			_adminEnabled = result.GetValue();
		else
			ToastService.Notify(ToastMessages.Error(result.GetError()));

		await base.OnInitializedAsync();
	}

}
