@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class="d-flex flex-column gap-2 my-2">
	<form class="gap-2 p-4 border rounded">
		<div class="mb-3">
			<h3>Export the database into a JSON dump file</h3>
		</div>
		<div class="mb-3">
			<Button @onclick="ExportDatabase" class="btn btn-primary">Export</Button>
		</div>
		@if (_exportedJson.Length > 0) {
			<div class="mb-3">
				<InputTextArea @bind-Value="_exportedJson" class="form-control" rows="12" style="resize: none" readonly/>
			</div>
			<div class="mb-3">
				<Button @onclick="Download" class="btn btn-primary">Download</Button>
			</div>
		}
	</form>

	<form class="gap-2 p-4 border rounded">
		<div class="mb-3">
			<h3>Import a JSON dump file into the database</h3>
		</div>
		<div class="mb-3">
			<FileUpload OnFileUploaded="OnFileImported" AllowedExtensions="allowedExtension"/>
		</div>
		<div class="row align-items-center">
			<div class="col-12 mb-3">
				<div class="form-check">
					<InputCheckbox @bind-Value="_eraseBeforeImport" id="erase-before-import" class="form-check-input" disabled="@(_importedJson.Length == 0)"/>
					<label class="form-check-label" for="erase-before-import">Erase database before importing?</label>
				</div>
			</div>
			<div class="col">
				@if (isUploading)
				{
					<Button Color="ButtonColor.Primary" Outline="true" Disabled="true">
						<Spinner Type="SpinnerType.Dots" Color="SpinnerColor.Primary" />
					</Button>
				}
				else
				{
					<ButtonOk Color="ButtonColor.Primary" OnClick="ImportDatabase" IsDisabled="@(_importedJson.Length == 0)" Text="Upload" />
				}
			</div>
		</div>
	</form>
</div>

@code {
	private DateTime _lastExportTime;

	private string _exportedJson = string.Empty;

	private string _importedJson = string.Empty;

	private bool _eraseBeforeImport;

	private string[] allowedExtension = new[] { ".json" };

	private bool isUploading = false;

	private async Task OnFileImported(IBrowserFile file) {
		await using Stream stream = file.OpenReadStream();
		using StreamReader reader = new(stream);
		_importedJson = await reader.ReadToEndAsync();
	}

	private async Task ExportDatabase() {
		RequestResult<LdapDbDump> result = await ApiRequests.SendRequestAsync<LdapDbDump>(HttpMethod.Get, "/api/database/export");
		if (result.IsSuccess()) {
			_lastExportTime = DateTime.Now;
			_exportedJson = JsonSerializer.Serialize(result.Values.FirstOrDefault(), new JsonSerializerOptions { WriteIndented = true });
		}
		else
			ToastService.Notify(ToastMessages.Error(result.GetError()));
	}

	private async Task ImportDatabase() {
		try {
			LdapDbDump? dump = JsonSerializer.Deserialize<LdapDbDump>(_importedJson);
			isUploading = true;
			await ApiRequests.SendRequestAsync<LdapDbDump>(HttpMethod.Put, _eraseBeforeImport ? "/api/database/erase-and-import" : "/api/database/import", dump);
		}
		catch (Exception e) {
			ToastService.Notify(ToastMessages.Error(e.Message));
		}
		isUploading = false;
	}

	private async Task Download() {
		await JsRuntime.InvokeVoidAsync("downloadJsonFile", $"database-{_lastExportTime:yyyy.MM.dd-HH_mm_ss}.json", _exportedJson);
	}
}
