<Button Type="ButtonType.Submit" Color="ButtonColor.Success" Disabled="IsDisabled">
	<i class="bi bi-check-lg fs-5"></i>
	@Text
</Button>

@code {
	[Parameter]
	public string Text { get; set; } = string.Empty;

	[Parameter]
	public bool IsDisabled { get; set; }
}
