@page "/login"

<PageTitle>Login</PageTitle>
<div class="d-flex justify-content-center align-items-center mb-5 h-100">
	<EditForm Model="@credentials" OnValidSubmit="HandleLogin" class="d-flex flex-column gap-3" style="max-width: 350px;">
		<DataAnnotationsValidator />

		<div class="h4 border border-dark-subtle rounded p-3 mb-0 fw-bold user-select-none">Neu LDAP Management</div>

		<div class="form-floating">
			<InstantInputText class="form-control" id="username" @bind-Value="credentials.Username" />
			<label for="username">Username</label>
			<ValidationMessage For="() => credentials.Username" />
		</div>

		<div class="form-floating">
			<InstantInputText class="form-control" id="password" @bind-Value="credentials.Password" type="password" />
			<label for="password">Password</label>
			<ValidationMessage For="() => credentials.Password" />
		</div>
		<Button Type="ButtonType.Submit" Color="ButtonColor.Primary" Outline="true" Disabled="isLoading">
			@if (isLoading)
			{
				<Spinner Type="SpinnerType.Dots" Color="SpinnerColor.Primary" />
			}
			else
			{
				<span>Login</span>
			}
		</Button>
	</EditForm>
</div>

@code {
	private LoginModel credentials = new();
	private bool isLoading = false;

	private async Task HandleLogin()
	{
		try
		{
			isLoading = true;
			var response = await ApiRequests.LoginAsync(credentials.Username, credentials.Password);

			if (response)
			{
				ToastService.Notify(ToastMessages.WelcomeBack(credentials.Username));
				NavManager.NavigateTo("/");
			}
			else
			{
				ToastService.Notify(ToastMessages.InvalidCredentials());
			}
		}
		catch (Exception e)
		{
			NotificationService.HandleError(e);
		}

		isLoading = false;
	}
}

