@page "/students/add"

<PageTitle>Add student</PageTitle>

<Modal @ref="modal" title="Error during import" IsScrollable="true" ModalType="ModalType.Danger">
	<BodyTemplate>
		<ErrorList Errors="ErrorList" />
	</BodyTemplate>
	<FooterTemplate>
		<Button Color="ButtonColor.Secondary" @onclick="HideModalClick">Ok</Button>
	</FooterTemplate>
</Modal>

<div class="row">
	<div class="col-12 col-md">
		<h1 class="d-inline-block">Add student</h1>
	</div>
	<div class="col-12 col-xl text-end">
		<FileUpload OnFileUploaded="OnFileUploaded" />
	</div>
</div>

<BaseEditFormStudent TheStudent="student" CanDelete="false" IsReadonly="false" OnSubmit="HandleStudentUpdated" />

@code {
	private Student? student = StudentFactory.CreateEmptyStudent().Build();
	private List<string> ErrorList = new();
	private Modal modal = default!;

	protected override void OnInitialized()
	{
		ApiRequests.EnsureAuthentication(NavManager);
	}

	private async Task HandleStudentUpdated(Student studentUpdated)
	{
		if (student!.Equals(studentUpdated)) return;

		try
		{
			var response = await ApiRequests.AddStudentAsync(studentUpdated);

			if (response is null)
			{
				await ModalService.ShowAsync(ModalOptions.NoConnection());
				return;
			}

			if (response.IsSuccess())
			{
				await ModalService.ShowAsync(ModalOptions.Success("Success", $"{studentUpdated.Id} ({studentUpdated.FullName}) was successfully added"));
				NavManager.NavigateTo("/students");
			}

			if (response.Errors.Any())
			{
				await ModalService.ShowAsync(ModalOptions.Error(response.GetError()));
			}
		}
		catch (Exception e)
		{
			await ModalService.ShowAsync(ModalOptions.Error(e.Message));
		}
	}

	private async Task OnFileUploaded(IBrowserFile file)
	{
		try
		{
			var response = await ApiRequests.UploadStudentFileAsync(file);
			if (response is null)
			{
				await ModalService.ShowAsync(ModalOptions.NoConnection());
				return;
			}

			if (response.IsSuccess())
			{
				await ModalService.ShowAsync(ModalOptions.Success("Success", $"Successfully imported {file.Name}"));
				NavManager.NavigateTo("/students");
			}

			if (response.Errors.Any())
			{
				ErrorList = response.Errors.ToList();
				await ShowModalClick();
			}
		}
		catch (Exception e)
		{
			await ModalService.ShowAsync(ModalOptions.Error(e.Message));
		}
	}

	private async Task ShowModalClick() => await modal!.ShowAsync();

	private void HideModalClick() => NavManager.NavigateTo("/students");
}

