@inherits LayoutComponentBase

<div class="page">
	<div>
		<NavMenu />
	</div>
	<main>
		<div class="top-row px-4">
			<Switch Label="Development" @bind-Value="IsDevelopment" @onclick="OnDevelopmentChange" />
		</div>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

<Modal IsServiceModal="true" />
<Toasts class="p-3" StackLength="6" Delay="4000" Placement="ToastsPlacement.TopRight" />

@code
{
	private bool IsDevelopment = false;
	private Uri? BaseAddress = default!;

	protected override void OnInitialized()
	{
		BaseAddress = ApiRequests.GetBaseAddress();
		ApiRequests.SetBaseAddress(BaseAddress!);
	}

	private async Task OnDevelopmentChange()
	{
		if (IsDevelopment)
		{
			ApiRequests.SetBaseAddress(new("http://localhost:5000"));
			await ModalService.ShowAsync(ModalOptions.Info("Development mode", "Api base address set to: 'http://localhost:5000'"));
		}
		else
		{
			ApiRequests.SetBaseAddress(BaseAddress!);
			await ModalService.ShowAsync(ModalOptions.Info("Deployed mode", $"Api base address set to: '{BaseAddress}'"));
		}
		NavManager.NavigateTo("/login");
	}
}
