@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu />
    </div>
    <main>
        <article class="content px-3 d-flex flex-column vh-100 overflow-auto">
            @Body
        </article>
    </main>
</div>

<Modal IsServiceModal="true" />
<Toasts class="p-3" StackLength="6" Delay="4000" Placement="ToastsPlacement.TopRight" />
