<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="@name" aria-label="Close" @onclick="HandleOnClose"></button>
        </div>
        <div class="modal-body">
            <h5>@BodyTitle</h5>
            <p>@Body</p>
        </div>
    </div>
</div>


@code {
    private string name = "modal-error";

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string BodyTitle { get; set; } = string.Empty;

    [Parameter]
    public string Body { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnClose { get; set; }

    private async Task HandleOnClose()
    {
        if (OnClose.HasDelegate)
        {
            await OnClose.InvokeAsync();
        }
    }
}
