<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="@name" aria-label="Close" @onclick="HandleOnClose"></button>
        </div>
        <div class="modal-body">
            <h5>@BodyTitle</h5>
            <ul class="list-group">
                @foreach (var error in ErrorList)
                {
                    <li class="list-group-item">@error</li>
                }
            </ul>
        </div>
    </div>
</div>


@code {
    private string name { get; set; } = "modal-error-list";

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string BodyTitle { get; set; } = string.Empty;

    [Parameter]
    public List<string> ErrorList { get; set; } = new();

    [Parameter]
    public EventCallback OnClose { get; set; }

    private async Task HandleOnClose()
    {
        if (OnClose.HasDelegate)
        {
            await OnClose.InvokeAsync();
        }
    }
}
