@page "/admins"

<PageTitle>Admins</PageTitle>

<h1>Admins</h1>

<TableAdmins Admins="LocalDbService.Admins" />

@code {
	protected override async Task OnInitializedAsync()
	{
		ApiRequests.EnsureAuthentication(NavManager);

		//LocalDbService.LoadingEnable("Fetching teachers");
		await LocalDbService.FetchTeachers();

		//LocalDbService.LoadingEnable("Fetching admins");
		await LocalDbService.FetchAdmins();
		//LocalDbService.LoadingDisable;
	}
}

