@page "/admins"

<PageTitle>Admins</PageTitle>

<h1>Admins</h1>
@if (isLoading)
{
	<Loading Text="Loading admins" />
}
else
{
	<TableAdmins Admins="LocalDbService.Admins" />
}

@code {
	private bool isLoading = false;

	protected override async Task OnInitializedAsync()
	{
		ApiRequests.EnsureAuthentication(NavManager);
		isLoading = true;
		await TeacherService.FetchTeachers();
		await LocalDbService.FetchAdmins();
		isLoading = false;
	}
}

