@page "/students"

<PageTitle>Students</PageTitle>

<div class="row justify-content-between g-2">
	<div class="col">
		<h1>Students</h1>
	</div>
	<div class="col text-end">
		<ButtonRefresh OnClick="OnRefresh" Text="Refresh" />
	</div>
</div>

@if (isLoading)
{
	<Loading Text="Loading students" />
}
else if (!LocalDbService.Students.Any())
{
	<div class="d-flex justify-content-center text-center">
		<div>
			<h3 class="my-4">There are no students in the database</h3>
			<ButtonAdd Text="Add Students" OnClick="ToAddPage" />
		</div>
	</div>
}
else
{
	<TableStudents Students="LocalDbService.Students" />
}

@code {
	private bool isLoading = true;

	protected override async Task OnInitializedAsync()
	{
		ApiRequests.EnsureAuthentication(NavManager);
		await OnRefresh();
	}

	private async Task OnRefresh()
	{
		isLoading = true;
		await LocalDbService.FetchStudents();
		isLoading = false;
	}

	private void ToAddPage() => NavManager.NavigateTo("/students/add");
}


