@page "/teachers"

<PageTitle>Teachers</PageTitle>

<h1>Teachers</h1>

<TableTeachers Teachers="Lists.GetTeachers()" />

@code {
	protected override void OnInitialized()
	{
		ApiRequests.EnsureAuthentication(NavManager);
	}
}

