@page "/students"

<PageTitle>Students</PageTitle>

<h1>Students</h1>

<BaseTableStudents Students="Lists.GetStudents()" />

@code {
	protected override async Task OnInitializedAsync()
	{
		ApiRequests.EnsureAuthentication(NavManager);
		try
		{
			var students = await ApiRequests.GetStudentsAsync();
			Lists.Students = new(students);
		}
		catch (Exception e)
		{
			Console.WriteLine(e);
		}
	}
}


