@page "/students"

<PageTitle>Students</PageTitle>

<div class="row justify-content-between g-2">
	<div class="col">
		<h1>Students</h1>
	</div>
	<div class="col text-end">
		<ButtonRefresh OnClick="RefreshStudents" Text="Refresh"/>
	</div>
</div>

@if (!Lists.Students.Any())
{
	<Loading />
}
else
{
	<BaseTableStudents Students="Lists.GetStudents()" />
}


@code {
	protected override async Task OnInitializedAsync()
	{
		ApiRequests.EnsureAuthentication(NavManager);
		await RefreshStudents();
	}

	private async Task RefreshStudents()
	{
		try
		{
			Lists.Students.Clear();
			var response = await ApiRequests.GetStudentsAsync();

			if (response is null)
			{
				// Add a modal to display no response error.
				Console.WriteLine("No response from the api.");
				return;
			}

			if (response.IsSuccess())
			{
				Lists.Students = new(response.Values);
			}
			else
			{
				// Add a modal to display all errors.
				Console.WriteLine(string.Join('\n', response.Errors));
			}

			StateHasChanged();
		}
		catch (Exception e)
		{
			Console.WriteLine(e);
		}
	}
}


