@page "/students"

<PageTitle>Students</PageTitle>

<div class="row justify-content-between g-2">
	<div class="col">
		<h1>Students</h1>
	</div>
	<div class="col text-end">
		<ButtonRefresh OnClick="RefreshStudents" Text="Refresh"/>
	</div>
</div>

@if (!Lists.Students.Any())
{
	<Loading />
}
else
{
	<BaseTableStudents Students="Lists.GetStudents()" />
}


@code {
	protected override async Task OnInitializedAsync()
	{
		ApiRequests.EnsureAuthentication(NavManager);

		if (Lists.Students.Any()) return;
		await RefreshStudents();
	}

	private async Task RefreshStudents()
	{
		try
		{
			Lists.Students.Clear();
			var students = await ApiRequests.GetStudentsAsync();
			Lists.Students = new(students);
			StateHasChanged();
		}
		catch (Exception e)
		{
			Console.WriteLine(e);
		}
	}
}


