@page "/students"

<PageTitle>Students</PageTitle>

<h1>Students</h1>

<BaseTableStudents Students="Lists.GetStudents()" />

@code {
	protected override void OnInitialized()
	{
		ApiRequests.EnsureAuthentication(NavManager);
	}
}


