@page "/students"

<PageTitle>Students</PageTitle>

<h1>Students</h1>

@if (!Lists.Students.Any())
{
	<Loading />
}
else
{
	<BaseTableStudents Students="Lists.GetStudents()" />
}


@code {
	protected override async Task OnInitializedAsync()
	{
		ApiRequests.EnsureAuthentication(NavManager);
		try
		{
			Lists.Students.Clear();
			var students = await ApiRequests.GetStudentsAsync();
			Lists.Students = new(students);
		}
		catch (Exception e)
		{
			Console.WriteLine(e);
		}
	}
}


