<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="home">Neu LDAP Management</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		@if (!isAuthenticated)
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="login">
					<i class="bi bi-box-arrow-in-right fs-4 mx-2"></i>
					Login
				</NavLink>
			</div>
		}
		else
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/home" Match="NavLinkMatch.All">
					<i class="bi bi-house fs-4 mx-2"></i>
					Home
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/students">
					<i class="bi bi-backpack3 fs-4 mx-2"></i>
					Students
				</NavLink>
				<div class="nav-group ms-4 mt-1">
					<NavLink class="nav-link" href="/students/add">
						<i class="bi bi-person-plus fs-4 mx-2"></i>
						Add Student
					</NavLink>
				</div>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/teachers">
					<i class="bi bi-person-workspace fs-4 mx-2"></i>
					Teachers
				</NavLink>
				<div class="nav-group ps-4 mt-1">
					<NavLink class="nav-link" href="/teachers/add">
						<i class="bi bi-person-plus fs-4 mx-2"></i>
						Add Teacher
					</NavLink>
				</div>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/admins">
					<i class="bi bi-person-wheelchair fs-4 mx-2"></i>
					Admins
				</NavLink>
				<div class="nav-group ps-4 mt-1">
					<NavLink class="nav-link" href="/admins/add">
						<i class="bi bi-person-plus fs-4 mx-2"></i>
						Add Admin
					</NavLink>
				</div>
			</div>
			<div class="nav-item px-3">
				<a class="nav-link" href="/login" @onclick="ApiRequests.Logout">
					<i class="bi bi-box-arrow-in-left fs-4 mx-2"></i>
					Logout
				</a>
			</div>
		}
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;
	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	private bool isAuthenticated;

	protected override void OnInitialized()
	{
		isAuthenticated = ApiRequests.IsAuthenticated;
		ApiRequests.AuthenticationStateChanged += OnAutheticationChanged;
	}

	private void OnAutheticationChanged()
	{
		isAuthenticated = ApiRequests.IsAuthenticated;
		StateHasChanged();
	}

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}

