<button type="button" class="btn btn-success" disabled="@IsDisabled" @onclick="HandleOnClick" data-bs-dismiss="@DataBsDismiss">
    <i class="bi bi-check-lg"></i>
    @Text
</button>

@code {
    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public string DataBsDismiss { get; set; } = string.Empty;

    private async Task HandleOnClick()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
    }
}
